<a href="https://colab.research.google.com/github/Yparth1805/Python2/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## WEEK **1**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
#SECTION A
#1.Write a python program to print Hello World
print("Hello World")

Hello World

In [ ]:
#2.Write a python program to do arithmetical operations addition and division
A=10
B=2
print(A+B)
print(A/B)

12
5.0

In [ ]:
#3.Write a python program to find the area of a triangle
base=int(input("base="))
height=int(input("height="))
area=0.5*base*height
print("area is", area)

base=10
height=5
area is 25.0

In [ ]:
#4.Write a python program to swap to variables
a="parth"
b="yadav"
print("a before swapping=",a,"b before swapping=",b)
c=a
a=b
b=c
print("a after swapping=",a,"b before swapping=",b)

a before swapping= parth b before swapping= yadav
a after swapping= yadav b before swapping= parth

In [ ]:
#5.Write a python program to generate a random number
import random
a=random
random in range(1,100)
print(a)

<module 'random' from '/usr/lib/python3.7/random.py'>

In [ ]:
#Section B
#1.Write a python program to convert kilometers to meters
km=int(input("Enter a km value=" ))
meters=km*1000
print(km,"km in meters is",meters)

Enter a km value=10
10 km in meters is 10000

In [ ]:
#2.Write a program to convert celcius to farhenite
celsius=int(input("Enter a celsius value=" ))
farhenite=((celsius*1.8)+32)
print(celsius,"celsius in farheniteis",farhenite)

Enter a celsius value=15
15 celsius in farheniteis 59.0

In [ ]:
#3.Write a program to display calendar
import calendar

yy=2022
mm=12

print(calendar.month(yy,mm))

   December 2022
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

In [ ]:
#4.Write a python program to solve quadratic equation
import cmath

A=int(input("Enter a number= "))
B=int(input("Enter a number= "))
C=int(input("Enter a number= "))

Diss= ((B^2)-4*A*C);
print(Diss)

Value1=((-B)+ cmath.sqrt(Diss))/2*A
Value2=((-B)- cmath.sqrt(Diss))/2*A
print(Value1)
print(Value2)

Enter a number= 3
Enter a number= 5
Enter a number= 2
-17
(-7.5+6.18465843842649j)
(-7.5-6.18465843842649j)

In [ ]:
#5.Write a python program to swap two variables without temp variable

In [ ]:
#SECTION C
#1.Write a python program to check if a number is positive, negative or zero
num=float(input("Enter a number= "))
if num > 0:
  print("Entered number is positive")
elif num == 0:
  print("Entered number is zero")
else:
  print("Entered number is negative")

Enter a number= 0
Entered number is zero

In [ ]:
#2.Write a python program to check if number is odd or even
num=int(input("Enter a number= "))
if num%2 == 0:
  print("Entered number is even")
else:
  print("Entered number is odd")

Enter a number= 12
Entered number is even

In [ ]:
#3.Write a python program to check a leap year
year=int(input("Enter a year= "))
if year%4 == 0:
  print("Entered year is a leap year")
else:
  print("Entered year is not a leap year")

Enter a year= 2003
Entered year is not a leap year

In [ ]:
#4.Write a python program to check the prime number
num = int(input("Enter a number= "))
if num > 1:
    for i in range(2, int(num/2)+1):
         if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

Enter a number= 15
15 is not a prime number

In [ ]:
#5.Write a python program to swap two vairables without temp variable

In [ ]:
#SECTION D
#1.Write a python program to find the factorial of a number
num=int(input("Enter a number= "))
factorial = 1
if num < 0:
  print("Factorial doesn't exist for negative numbers")
elif num==0:
  print("Factorial for 0 is 1")
else:
  for i in range(1, num+1):
    factorial = factorial*i
  print("The factorial of",num,"is",factorial)

Enter a number= 5
The factorial of 5 is 120

In [ ]:
#2.Write a python program to display the multiplication table

In [ ]:
#3.Write a python program to print thr fibonacci sequence
nterms = int(input("Enter the number of terms= "))
n1=0
n2=1
count = 0
if nterms <= 0:
   print("Please enter a positive integer")
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       n1 = n2
       n2 = nth
       count += 1

Enter the number of terms= 10
Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

In [ ]:
#SECTION F
#1. Write a python program to find sum of elements in list
list1 = [11, 5, 17, 18, 23]
total = sum(list1)
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  74

In [2]:
#3.Write a python program to find smallest number in a list
list1= [1,2,3]
print(min(list1))

1

In [3]:
#4.Write a python program to find biggest number in a list
list1=[1,2,3]
print(max(list1))

3

In [ ]:
#3.Write a python program to find second largest number in a list